body{
   
    background-color: rgb(157, 141, 218);
   
    
}   
h1 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
img {
    position: relative;
    left: 35%;
}
button {
    position: relative;
    left: 40%;
    top: 10px;
    width: 70px;
    background-color: rgb(76, 35, 182);
    padding: 10px 20px;
    margin: 20px;
    border: 2px solid #000;
}
.no:hover {
     top: 10%;
    left: 40px;
    bottom: 50px;
}
a {
    text-decoration: none;
    color: #000;
}
 .d {
    
    width: 30%;
 }